@media only screen and (min-width: 1440px){

html, body {
    width:100%;
}

  
/* main content rules */
main img {
    width: auto;
    height: auto;
    margin-left: 20rem;
    float: right;
    margin-right: 0px;
}

main h3{
    color: hsl(0, 36%, 70%);
    font-weight: lighter;
    padding-right: 10rem;
    margin-right: 15rem;
}










} /* end of media query */