html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    
    font-family: 'Josefin+Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
/* grid rules */
.row {clear: both;}
.limited {
    max-width: 100%;
    margin: auto;
}
.column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}
.small-12{width: 100%}

/* header rules */

    header img {
        float: left;
        padding: 10px 0 10px 0;
    }


/* main content rules */
body {
    background-image: url("../images/bg.svg");

}

main img {
    width: 100%;
    height: auto;
}

.coming-soon{
    margin-top: 15rem;
}
main h1 {
    color: hsl(0, 36%, 70%);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: normal;
    letter-spacing: 1rem;
    text-align: left;
    line-height: 0.1px;
    height: 1px;
}

main h2{
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 2rem;
    text-align: left;
    font-weight: normal;
    
}

main h3 {
        color: hsl(0, 36%, 70%);
        font-weight: lighter;
} 

/* footer rules */
footer {
    font-size: 0.4rem;
    font-weight: 300;
    text-align: center;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}