body {
   background-color: #707070;
}

/* top menu */

/* side menu */

 .leftmenu ul {
  padding-inline-start: 0;
  margin-right: 0;
  align-self: flex-start;
}

.leftmenu ul > a > li {
  background-color: #c0c2c2;
  color: #fff;
  list-style: none;
  padding: 14px 45px;
  display: block;
  cursor: pointer;
  margin-bottom: 2px;
}

.leftmenu ul > a > li:hover {
  background-color: #707070;
}

.leftmenu ul > a {
  text-decoration: none;
  color: #fff;
}

.leftmenu {
  display: flex;
  flex-direction: column;
  align-items: center;
} 

/* main content */

.header {
  background-color: white;
  text-align: center;
}

#photo {
    text-align: center;
    max-width: 100%;
    height: auto;
}

.main {
  background-color: lightgrey;
}

#bodytext {

}
/* footer */

footer {
  text-align: center;
  margin-top: 1rem;
  background-color: #fff;

}
