html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media only screen and (min-width: 375px){
  head {
    font-family: "Karla", sans-serif;
  }
  
  body {
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: hsl(204, 43%, 93%);
  }
  
  .main {
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
  #community {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding: 15px 0 0 20px;
  }
  #join-community {
    color: hsl(179, 62%, 43%);
    font-weight: bold;
  }
  
  #money-back {
    color: hsl(71, 73%, 54%);
  }
  
  #benefits {
    color: hsl(218, 22%, 67%);
    padding: 0px 20px 20px 0px;
  }
  #bottom {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  #subscription {
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    background-color: hsl(179, 62%, 43%);
    width: 50%;
    padding: 15px 0 15px 15px;
  }
  
  #monthly {
    color: white;
    font-weight: bold;
  }
  
  #cost {
    color: white;
    font-weight: bold;
  }
  
  #full-access {
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    background-color: white;
    color: black;
  }
  
  #sign-up {
    display: flex;
    color: white;
    background-color: hsl(71, 73%, 54%);
    font-weight: bold;
    justify-content: center;
    border-radius: 5px;
    padding: 15px 100px 15px 100px;
    max-width: 100%;
    align-self: center;
    
  }
  
  #why-us {
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 47%, 49%);
    width: 50%;
    padding: 15px 0 15px 15px;
  }
  
  #why-us-sub {
    color: white;
    font-weight: bold;
  }
  
  #list {
    list-style-type: none;
    color: white;
    font-weight: 100;
  }
  .attribution {
    font-size: 12px;
    text-align-last: center;
  }
  
  .attribution > a {
    color: black;
    text-decoration: underline;
  }
} 