html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
/* grid rules */
.row {clear: both;}
.limited {
    max-width: 100%;
    margin: auto;
}
.column {float: left; padding: 0 2vw; margin: 0 0 .75rem 0;}
.small-12{width: 100%}

/* header rules */

    header img {
        display: flex;
        align-self: center;
        margin: auto;

    }

/* nav */

nav {
    background-color: #437880;
    overflow: hidden;
  }
  
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
  

nav a.active {
    background-color: #9db3b1;
    align-content: center;
  }


 

/* main content rules */
body {
    background-color: #f7f7f7;
}

main img {
    width: 100%;
    height: auto;
}

.coming-soon{
    margin-top: 10rem;
}
main h1 {
    color: hsl(0, 36%, 70%);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: normal;
    letter-spacing: 1rem;
    text-align: left;
    line-height: 0.1px;
    height: 1px;
}

main h2{
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 1rem;
    text-align: left;
    font-weight: normal;
    
}

main h3 {
    font-weight: normal;
} 

main h4 {
        font-weight: normal;
}

input{
    width: 45%;
    border-radius: 10px;
    border-color: gray;
    border-top-color: gray;

}

::placeholder {
    color: hsl(0, 53%, 83%);
    opacity: 0.75;
    padding: 10px 0 10px 10px;

}
/* footer rules */
footer {
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.3rem;
    font-weight: 100;
    text-align: center;
    margin-top: 100px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}